.btn-padding {
    margin-top:10px;
}

.top-padding {
    margin-top:10px;
}

btm-padding {
    margin-bottom: 10px;
}

.radio-inline {
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
}

#cmp-id-sel {
 width: 20%;
}