{% extends "template.html" %}
{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/predictor.css') }}">
<script src="../static/js/predictor.js"></script>
<script src="../static/js/RadarChart.js"></script>
<div id="divLoading">

</div>
<div class="predictor-body">
    <form action="/CIIPPredict" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
                    <div class="card-body">
                        <h5 class="card-title">Available profiles</h5>
                        {% if not profiles %}
                          <p class="card-text">No profiles available.</p>
                        {% endif %}
                        {% if profiles %}
                        <div class="form-group">
                          <label for="sel1">Select profile:</label>
                          <select class="form-control" id="profile-selection" name="profile_filename">
                            {% for profile in profiles %}
                                <option value="{{ profile }}"> {{ profile }}</option>
                            {% endfor %}
                          </select>
                        </div>
                       {%  endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
                    <div class="card-body">
                        <h5 class="card-title">Available testsets</h5>
                          {% if not testsets %}
                              <p class="card-text">No datasets sets available.  Please upload.</p>
                          {% endif %}
                          {% if testsets %}
                            <div class="form-group">
                              <label for="sel1">Select dataset:</label>
                              <select class="form-control" id="compound_filename" name="compound_filename">
                                {% for testset in testsets %}
                                    <option value="{{ testset }}"> {{ testset }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          {%  endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
                    <div class="card-body">
                        <h5 class="card-title">CIIPro predictions</h5>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="slidecontainer">
                                    <label for="weight-slider">Select Inactive Weights:</label><br>
                                    <input type="range" min="0" max="1" value="0.1" step="0.1" class="slider" name="inactives" id="weight-slider"><br>

                                    <p>Weight: <span id="weightValue"></span></p>

                                </div>


					        </div>


                        </div>

                        <input type="submit" class="btn btn-primary btn-padding" value="Predict" name="Submit" onclick="loading()"/>

                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% if data %}
        <div class="stats-container" id="stats-results">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
                        <div class="card-body">
                            <h5 class="card-title">Prediction results</h5>
                            <h5><span id="training_profile_used">{{ meta.training_profile_used }}</span> vs. <span id="test_set_used">{{ meta.test_set_used }}</span></h5>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                              <table class="table table-bordered table-striped mb-0">
                                <thead>
                                  <tr>
                                      <th scope="row" id="test-cmp-header">{{ data|length }} Test Compound</th>
                                      <th scope="row" id="Acts">No. Actives in Profile</th>
                                      <th scope="row" id="Inacts">No. Inactives in Profile</th>
                                      <th scope="row" id="Prediction">Prediction</th>
                                      <th scope="row" id="Read-across">Read-Across Results</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for datum in data %}

                                  <tr>
                                      <th scope="row" id="{{ datum.cid }}">
                                          <a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ datum.cid }}"
                                             target="_blank">{{ datum.cid }}</a></th>
                                    <td id="{{ datum.acts }}-Acts">
                                        {{ datum.acts }}
                                    </td>
                                    <td id="{{ datum.inacts }}-Inacts">
                                        {{ datum.inacts }}
                                    </td>
                                    <td id="{{ datum.pred }}-Prediction">
                                        {{ datum.pred }}
                                    </td>

                                      <td style="cursor:pointer;" class="read-across" id="read-across-{{ datum.cid }}" cid={{ datum.cid }}>
                                          View Read-Across Results</td>


                                  </tr>

                                {% endfor %}
                                </tbody>
                              </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        {% endif %}

    </form>
</div>

<script>




    $('.read-across').click(function() {
        var cid = +$(this).attr("cid");
        var predictionProfile = $( "#training_profile_used" ).text().trim();

        openReadAcross(cid, predictionProfile);

    });

    // if the stats results div exists, that means the submit button
    // has already been used, so we populate the action button for this
    // page
    var statsResults = $("#stats-results");

    $("#weightValue").text($("#weight-slider").val());

    $("#weight-slider").on("change", function() {
        $("#weightValue").text($("#weight-slider").val());
    });

    if (statsResults.length != 0) {
        addPredictorToolButton();
    };

    {% if stats %}
        var stats = {{ stats | tojson | safe}};
        var cardBody = d3.select("#stats-body");
        var currentWidth = parseInt(cardBody.style("width"));

        var width = currentWidth - 200,
            height = currentWidth - 200;
        // Config for the Radar chart
        var config = {
            w: width,
            h: height,
            maxValue: 1,
            levels: 5,
            ExtraWidthX: 300
        };

        config.color = '#0505FF';
        RadarChart.draw("#bio-stats", [stats[0]], config);

        config.color = '#6FA5FF';
        RadarChart.draw("#chem-stats", [stats[1]], config);

        config.color = '#05056F';
        RadarChart.draw("#hybrid-stats", [stats[2]], config);


    {% endif %}

</script>

{% endblock %}

