{% extends "template.html" %}
{% block content %}

<script src="../static/js/requests.js"></script>
<script src="../static/js/cluster.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cluster.css') }}">


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div id="divLoading">

</div>

<div class="cluster-body" >

    <form action="/CIIPro_Cluster" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                <h5 class="card-title">Available profiles</h5>
                  {% if not profiles %}
                      <p class="card-text">No profiles available.</p>
                  {% endif %}
                  {% if profiles %}
                    <div class="form-group">
                      <label for="sel1">Select profile:</label>
                      <select class="form-control" name="profile_filename" id="profile-selection">
                        {% for profile in profiles %}
                            <option value="{{ profile }}"> {{ profile }}</option>
                        {% endfor %}
                      </select>
                    </div>
                 {%  endif %}
                <div class="form-group">
                  <label for="clustering_filename">Give a name to the clustering:</label>
                  <input style="margin-left: 20px" type="text"
                         size=30 id="clustering_filename" name="clustering_filename" />

                  <label for="n_clusters">Number of clusters to identify:</label>
                  <input type="number" value="6" name="n_clusters" id="n_clusters" min="0" max="30" step="1"/>
                </div>

                <input type="submit" class="btn btn-primary btn-padding"
                       value="Cluster profile" onclick="loading()"/>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <h5 class="card-title">Profile overview</h5>
                  <h6 id="ts_used">Training Set Used:  <span id="this_ts" class="prof-attr text-muted"></span></h6>
                  <h6 id="num_cmps">Num Compounds:  <span id="cmps" class="prof-attr text-muted"></span></h6>
                  <h6 id="num_aids">Num Assays:  <span id="aids" class="prof-attr text-muted"></span></h6>
                  <h6 id="total_acts">Total Active Responses: <span id="tot_acts" class="prof-attr text-muted"></span></h6>
                  <h6 id="total_inacts">Total Inactive Responses: <span id="tot_inacts" class="prof-attr text-muted"></span></h6>

              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                <h5 class="card-title">Available bioclusters</h5>
                  {% if not clusters %}
                      <p class="card-text">No clusters available.</p>
                  {% endif %}
                  {% if clusters %}
                    <div class="form-group">
                      <label for="sel1">Select cluster:</label>
                      <select class="form-control" name="clustering" id="cluster-selection">
                        {% for cluster in clusters %}
                            <option value="{{ cluster }}"> {{ cluster }}</option>
                        {% endfor %}
                      </select>
                    </div>
                 {%  endif %}


              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body" id="cluster-graph-card-body">
                <div id="cluster-graph">

                </div>
              </div>
            </div>
          </div>

        </div>

    </form>
</div>
<script>

    profileSelector = $("#profile-selection");

    refreshProfileClusterPage();
    changeClusteringName();
    plotGraph();

    profileSelector.on("change", function() {
        refreshProfileClusterPage();
        changeClusteringName();
    });

    $("#cluster-selection").on("change", function() {
        plotGraph();
    });

</script>

{% endblock %}







