{% extends "template.html" %}
{% block content %}

		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
<style>
	div.profile {

    padding-left: 100px;
}
</style>

<div class="profile">
<form action="/optimize" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-primary">
					{% if profiles %}
					<div class="panel-heading">
						<h3 class="panel-title">Profile to work with</b>:<br></h3>
					</div>
					<div class="panel-body">
                        <div class="col-sm-12">
                        <select id="profile-selection">
                            {% for profile in profiles %}


                               <option value={{ profile }}>{{ profile }}</option>


                            {% endfor %}
                        </select>
                        <br>
                        <h3><b>Profile Overview: </b></h3>
                            <h6 id="ts_used"><b>Training Set Used: </b> <div id="this_ts"></div></h6>
                            <h6 id="num_cmps"><b>Num Compounds: </b> <div id="cmps"></div></h6>
                            <h6 id="num_aids"><b>Num Assays: </b> <div id="aids"></div></h6>
                            <h6 id="total_acts"><b>Total Active Responses: </b><div id="tot_acts"></div></h6>
                            <h6 id="total_inacts"><b>Total Inactive Responses: </b><div id="tot_inacts"></div></h6>
                        </div>
					</div>
					{% endif %}
					{% if not profiles %}
					<div class="panel panel-heading">
						<h3 class="panel-title">No datasets available for <b>{{ username }}.</b></h3>
					</div>
					<div class="panel-body">
						Please upload a data set to profile.
					</div>
					{% endif %}
				</div>
			</div>
		</div>

        <div class="row">
            <div class="col-12">


            <div id="heatmap"></div>
            <div id="table">

            </div>

            </div>
        </div>
{#		<input type="submit" class="btn btn-primary" value="Profile" name="user_input"/>#}
		</form>



</div>

    <script src="../static/js/heatmap_d3.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="../static/js/requests.js"></script>

    <script>




        var e = document.getElementById("profile-selection");
        var currentProfile = e.options[e.selectedIndex].value;

        var queryUrl = "http://ciipro.rutgers.edu/get_bioprofile/" + currentProfile;
        var profile_data = JSON.parse(getResponseFromURL(queryUrl));

        var tsElement = document.getElementById('this_ts');
        tsElement.innerHTML = profile_data.meta.training_set;

        var tsElement = document.getElementById('cmps');
        tsElement.innerHTML = profile_data.meta.num_cmps;

        var tsElement = document.getElementById('aids');
        tsElement.innerHTML = profile_data.meta.num_aids;

        var tsElement = document.getElementById('tot_acts');
        tsElement.innerHTML = profile_data.meta.num_total_actives;

        var tsElement = document.getElementById('tot_inacts');
        tsElement.innerHTML = profile_data.meta.num_total_inactives;

        plotHeatMap(profile_data);

        e.addEventListener("change", function() {
            var e = document.getElementById("profile-selection");
            var currentProfile = e.options[e.selectedIndex].value;
            var queryUrl = "http://ciipro.rutgers.edu/get_bioprofile/" + currentProfile;
            var profile_data = JSON.parse(getResponseFromURL(queryUrl));
            plotHeatMap(profile_data);

            var tsElement = document.getElementById('this_ts');
            tsElement.innerHTML = profile_data.meta.training_set;

            var tsElement = document.getElementById('cmps');
            tsElement.innerHTML = profile_data.meta.num_cmps;

            var tsElement = document.getElementById('aids');
            tsElement.innerHTML = profile_data.meta.num_aids;

            var tsElement = document.getElementById('tot_acts');
            tsElement.innerHTML = profile_data.meta.num_total_actives;

            var tsElement = document.getElementById('tot_inacts');
            tsElement.innerHTML = profile_data.meta.num_total_inactives;






        });


    </script>

{% endblock %}







