{% extends "template.html" %}
{% block content %}

<script src="../static/js/requests.js"></script>
<script src="../static/js/cluster.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/cluster.css') }}">


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div id="divLoading">

</div>

<div class="cluster-body" >

    <form action="/CIIPro_Cluster" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                <h5 class="card-title">Available profiles</h5>
                  {% if not profiles %}
                      <p class="card-text">No profiles available.</p>
                  {% endif %}
                  {% if profiles %}
                    <div class="form-group">
                      <label for="sel1">Select profile:</label>
                      <select class="form-control" name="profile_filename" id="profile-selection">
                        {% for profile in profiles %}
                            <option value="{{ profile }}"> {{ profile }}</option>
                        {% endfor %}
                      </select>
                    </div>
                 {%  endif %}
                <div class="form-group">
                  <label for="clustering_filename">Give a name to the clustering:</label>
                  <input style="margin-left: 20px" type="text"
                         size=30 id="clustering_filename" name="clustering_filename" />

                </div>

                <input type="submit" class="btn btn-primary btn-padding"
                       value="Cluster profile" onclick="loading()"/>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <h5 class="card-title">Profile overview</h5>
                  <h6 id="ts_used">Training Set Used:  <span id="this_ts" class="prof-attr text-muted"></span></h6>
                  <h6 id="num_cmps">Num Compounds:  <span id="cmps" class="prof-attr text-muted"></span></h6>
                  <h6 id="num_aids">Num Assays:  <span id="aids" class="prof-attr text-muted"></span></h6>
                  <h6 id="total_acts">Total Active Responses: <span id="tot_acts" class="prof-attr text-muted"></span></h6>
                  <h6 id="total_inacts">Total Inactive Responses: <span id="tot_inacts" class="prof-attr text-muted"></span></h6>

              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                <h5 class="card-title">Define clusters</h5>
                  {% if not clusters %}
                      <p class="card-text">No clusterings available available.</p>
                  {% endif %}
                  {% if clusters %}
                    <div class="form-group">
                      <label for="cluster-selection">Select cluster:</label>
                      <select class="form-control" name="clustering" id="cluster-selection">
                        {% for cluster in clusters %}
                            <option value="{{ cluster }}"> {{ cluster }}</option>
                        {% endfor %}
                      </select>
                    </div>
                 {%  endif %}

                <div class="slidecontainer">
                  <label for="cluster-slider">Select Number of Clusters:</label><br>
                  <input type="range" min="1" max="10" value="1" class="slider" id="cluster-slider"><br>

                    <p>Current Clusters: <span id="noClusters"></span></p>

                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body" id="cluster-graph-card-body">
                <div id="cluster-graph">

                </div>
              </div>
            </div>
          </div>

        </div>

    </form>
</div>
<script>

    profileSelector = $("#profile-selection");

    currentClustering = $("#cluster-selection").find(":selected").text().trim();


    var queryUrl = $SCRIPT_ROOT + "get_adj_matrix/" + currentClustering;
    var graph = JSON.parse(getResponseFromURL(queryUrl));

    networkGraph(graph);

    refreshProfileClusterPage();
    changeClusteringName();
    plotGraph();

    profileSelector.on("change", function() {
        refreshProfileClusterPage();
        changeClusteringName();
    });


    $("#cluster-slider").attr("max", graph.nodes.length);
    $("#cluster-slider").val(graph.nodes.length);
    $("#noClusters").text($("#cluster-slider").val());

    $("#cluster-selection").on("change", function() {
        plotGraph();

        var queryUrl = $SCRIPT_ROOT + "get_adj_matrix/" + currentClustering;
        var graph = JSON.parse(getResponseFromURL(queryUrl));
        $("#cluster-slider").attr("max", graph.nodes.length);
        $("#cluster-slider").val(graph.nodes.length);
        $("#noClusters").text($("#cluster-slider").val());

    });



    $("#cluster-slider").on("change", function() {

        merge(graph, graph.nodes.length-1-$(this).val());
        networkGraph(graph);
        $("#noClusters").text($("#cluster-slider").val());
    });


</script>

{% endblock %}







