{% extends "template.html" %}
{% block content %}

<script src="../static/js/heatmap_d3.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="../static/js/requests.js"></script>
<script src="../static/js/optimizer.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/optimizer.css') }}">


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class="optimizer-body" >


    <div class="row">
      <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
          <div class="card-body">
            <h5 class="card-title">Available profiles</h5>
              {% if not profiles %}
                  <p class="card-text">No profiles available.</p>
              {% endif %}
              {% if profiles %}
                <div class="form-group">
                  <label for="sel1">Select profile:</label>
                  <select class="form-control" id="profile-selection">
                    {% for profile in profiles %}
                        <option value="{{ profile }}"> {{ profile }}</option>
                    {% endfor %}
                  </select>
                </div>
             {%  endif %}
            <button onclick="deleteProfile()" class="btn btn-danger btn-padding">Delete profile</button>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title">Profile overview</h5>
              <h6 id="ts_used">Training Set Used:  <span id="this_ts" class="prof-attr text-muted"></span></h6>
              <h6 id="num_cmps">Num Compounds:  <span id="cmps" class="prof-attr text-muted"></span></h6>
              <h6 id="num_aids">Num Assays:  <span id="aids" class="prof-attr text-muted"></span></h6>
              <h6 id="total_acts">Total Active Responses: <span id="tot_acts" class="prof-attr text-muted"></span></h6>
              <h6 id="total_inacts">Total Inactive Responses: <span id="tot_inacts" class="prof-attr text-muted"></span></h6>

          </div>
        </div>
      </div>

    </div>

    <div class="row top-padding">
      <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
          <div class="card-body" id="bar-card-body">
            <h5 class="card-title">Apply <i>in vitro</i>-<i>in vivo</i> correlation filters</h5>

              <ul class="list-group" id="applied-filters">
              </ul>



              <label for="sel1">Select statistic and threshold:</label>
              <select class="form-control" id="stats-filter">
                  <option value="CCR">CCR</option>
                  <option value="Sensitivity">Sensitivity</option>
                  <option value="Specificity">Specificity</option>
              </select>

              <select class="form-control" id="stats-threshold">
                  <option value="0.5">0.5</option>
                  <option value="0.55">0.55</option>
                  <option value="0.6">0.6</option>
                  <option value="0.65">0.65</option>
                  <option value="0.7">0.7</option>
                  <option value="0.75">0.75</option>
                  <option value="0.8">0.8</option>
                  <option value="0.85">0.85</option>
                  <option value="0.9">0.9</option>
              </select>


              <button onclick="addFilter()" class="btn btn-success btn-padding">Add filter</button>
              <button onclick="clearFilters()" class="btn btn-danger btn-padding">Clear filters</button>
              <button onclick="sendFilters()" class="btn btn-primary btn-padding">Apply filters</button>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body" id="stacked-bar-body">
              <h3 class="card-title">AID Activity Responses</h3>
              <div id="stackedBar">

              </div>

          </div>
        </div>
      </div>


    </div>


    <div class="row top-padding">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title">Bioassay overview</h5>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" id="assay-overview">
                    </div>

          </div>
        </div>
    </div>

</div>
<script>

    addToolButton();
    refreshProfile();
    var data = aggFilters();


    var e = document.getElementById("profile-selection");
    e.addEventListener("change", function() {
        refreshProfile();
        clearFilters();

    });


    function sendFilters() {
    var filter_data = aggFilters();

    // get current profile
    var currentProfile = e.options[e.selectedIndex].value;

    data = {
        profile_name: currentProfile,

        filters: filter_data
    };

    postData('/filter_profile', data);
    refreshProfile();
    clearFilters();
}



</script>

{% endblock %}







