{% extends "template.html" %}
{% block content %}
    <div class="contact-body">

        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                <h3 class="card-title">Contact</h3>

                <p class="card-text">CIIPro is hosted by the <a href="http://zhu.camden.rutgers.edu/">Zhu Research Group</a> at Rutgers University in Camden, NJ
                    and is proudly affiliated with the Rutgers Camden <a href="http://ccib.camden.rutgers.edu/">Center
                        for Computational and Integrative Biology</a><br>
                		 <br>
		 All queries should be mailed to <a href="mailto:danrusso@scarletmail.rutgers.edu?Subject=CIIPRO">danrusso@scarletmail.rutgers.edu</a><br>
		 <br>

                </p>

              </div>
            </div>
          </div>
        </div>


	</div>	
{% endblock %}		
