{% extends "template.html" %}
{% block content %}

    <div class="ciipro-overview">


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                  <div style="display: flex; justify-content: center;">
                  <img src="static/img/logoII.png" style="width: 800px;margin-bottom: 50px">
                  </div>
                  <h3 class="card-title">What is CIIPro?</h3>

                <p class="card-text">Welcome to the Chemical <i>In vitro</i> - <i>In vivo</i> Profiling (CIIPro) project.  CIIPro is a cheminformatics web tool designed to
        link chemical features and <i>in vitro</i> biological data with targeted <i>in vivo</i> toxicological endpoints.  It was designed and developed by
        the <a href="http://zhu.camden.rutgers.edu/">Zhu Research Group</a> at Rutgers University in Camden, NJ.</p>

              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
              <div class="card-body">
                <h3 class="card-title">How does CIIPro work?</h3>

                <p class="card-text">CIIPro automatically extracts the relevant public bioassay data for target compounds, constructs their biological profiles, and calculates
        biological similarity-based read across.  Currently the resulting <i>biological profiles</i> consist of biological assay data from PubChem only.
        Using CIIPro, the target compounds can be grouped based on their public bioassay testing results and compared to the target toxicity.</p>

              </div>
            </div>
          </div>
        </div>

    </div>

{% endblock %}		
