{% extends "template.html" %}
{% block content %}

<div class="login-body" >

    <div class="row">
      <div class="col-sm-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
          <div class="card-body">
		        <h3 class="card-title">Welcome to CIIPRO Login</h3>
		        <br>
		        <p class="card-text">
		            If you are new to CIIPRO, click <a href="/register">here</a> to register.<br>
		                <br>

                     Guests may log in using the following credentials:<br>
                     <b>username:</b> Guest<br>
                     <b>password:</b> ciiproguest<br>
                    <br>
                    <b>Note:</b> Guest datasets and created materials will not be saved.<br>
                    <h3>Please log in:</h3>

                    {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}

                    <form action="" method="post">
                        <input type="text" placeholder="Username" name="username" value="{{
                        request.form.username }}" required><br>
                        <br>
                        <input type="password" placeholder="Password" name="password" value="{{
                        request.form.password }}" required><br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Login">
                        <br>
                    </form>
                    <br>
                    <br>
                    Forgot Username? click <a href="/usernamerecovery">here</a><br>
                    Forgot Password? click <a href="/passwordrecovery">here</a><br>
              </p>

          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}		
