{% extends "template.html" %}
{% block content %}

		{% if error %}
			<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}
<style>
	div.profile {

    padding-left: 100px;
}
</style>

<div class="QSAR">
<form action="/QSARPredict" method="post" enctype="multipart/form-data">
		<div class="row">
			<div class="col-sm-4" style="margin-left: 1%">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Available QSAR Models:<br></h3>
					</div>
					<div class="panel-body">
						<b>Classification models:</b><br>
						<i>LD<sub>50</sub> > 2000 mg/kg vs. all other compounds:</i><br>
							{% for model in class_models %}
								<input type="radio" name="QSAR_model" value="{{ model }}"/> {{ model }}
								<br>
							{% endfor %}
							<br>
						<i>Estrogen receptor binding:</i><br>
							<input type="radio" name="QSAR_model" value="Multitask Deep Neural Network (3 Hidden Layers)"/>
						Multitask Deep Neural Network (3 Hidden Layers) <br><br>
						<b>Regression models (LD<sub>50</sub> point estimates):</b><br>
							{% for model in regress_models %}
								<input type="radio" name="QSAR_model" value="{{ model }}"/> {{ model }}
								<br>
							{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-primary">
					{% if testsets %}
					<div class="panel-heading">
						<h3 class="panel-title">Available test sets for <b>{{ username }}</b>:</h3>
					</div>
					<div class="panel-body">
						{% for testset in testsets %}
							{% if testsets.index(testset) == 0 %}
								<input type="radio" name="compound_filename" value="{{ testset }}" checked="checked"> {{ testset }}
								</input><br>
							{% else %}
								<input type="radio" name="compound_filename" value="{{ testset }}"> {{ testset }}
								</input><br>
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}
					{% if not testsets %}
					<div class="panel-heading">
						<h3 class="panel-title">No test sets available for <b>{{ username }}.</b></h3>
					</div>
					<div class="panel-body">
						You must upload a test set in order to use the QSAR models.
						Please visit the <a href="/datasets">Datasets</a> page to upload a test set.
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	<input type="submit" class="btn btn-primary" value="Make Predictions" name="user_input" style="margin-left: 1%"/>
</form>

	<div class="row">
		<div style="margin-left: 5%">
			{% if alg in ML_class_algs or (alg in DL_class_algs) %}
				<!-- TODO: Add a link to download the predictions -->
				<br><font size="+2">QSAR Model Predictions Using {{ alg }}</font><br><br>
				<b>Nontoxic</b>: 0<br>
				<b>Toxic or Inconclusive</b>: 1<br><br>
				<div class="col-md-3" style="margin-left: 1%">
				<table style="width: 100%; border: 1px solid blue; margin-left: 1%">
					<tr style="width: 100%; background-color: LightGray; border: 1px solid blue;">
						<th style="width: 20%; background-color: LightGray; border: 1px solid blue;"><b>CID</b></th>
						{% for descriptor in descriptors %}
                        <th style="text-align:center; width: 20%; background-color: LightGray; border: 1px solid blue;">
							<b>Prediction Using {{ descriptor }} Descriptors</b></th>
						{% endfor %}
					</tr>

					{% for i in range(0, len_cids) %}
					<tr style="width: 100%; background-color: LightGray; border: 1px solid blue;">
						<td style="width: 20%; background-color: LightGray; border: 1px solid blue;">{{ cids[i] }}</td>
						{% for j in range(0, len_predictions) %}
						<td style="text-align:center; width: 20%; background-color: LightGray; border: 1px solid blue;">
							{{ predictions[j][i] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
				</div>
			{% endif %}
			{% if alg in ML_regress_algs %}
				<br><font size="+2">log(LD<sub>50</sub>) Point Estimates Using {{ alg }}</font><br><br>
				<div class="col-md-3" style="margin-left: 1%">
				<table style="width: 100%; border: 1px solid blue; margin-left: 1%">
					<tr style="width: 100%; background-color: LightGray; border: 1px solid blue;">
						<th style="width: 20%; background-color: LightGray; border: 1px solid blue;"><b>CID</b></th>
						{% for descriptor in descriptors %}
                        <th style="text-align:center; width: 20%; background-color: LightGray; border: 1px solid blue;">
							<b>Estimate Using {{ descriptor }} Descriptors</b></th>
						{% endfor %}
					</tr>

					{% for i in range(0, len_cids) %}
					<tr style="width: 100%; background-color: LightGray; border: 1px solid blue;">
						<td style="width: 20%; background-color: LightGray; border: 1px solid blue;">{{ cids[i] }}</td>
						{% for j in range(0, len_predictions) %}
						<td style="text-align:center; width: 20%; background-color: LightGray; border: 1px solid blue;">
							{{ predictions[j][i] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
				</div>
			{% endif %}
			{% if alg in er_model %}
				<br><font size="+2">Consensus Estrogen Receptor Assay Predictions Using FCFP6 and MACCS Descriptors
		</font><br><br>
				<div class="col-md-3" style="margin-left: 1%">
				<table style="width: 100%; border: 1px solid blue; margin-left: 1%">
					<tr style="width: 100%; background-color: LightGray; border: 1px solid blue;">
						<th style="width: 20%; background-color: LightGray; border: 1px solid blue;"><b>CID</b></th>
                        {% for assay in er_assays %}
                        <th style="text-align:center; width: 20%; background-color: LightGray; border: 1px solid blue;">
							<b>{{ assay }}</b></th>
						{% endfor %}
					</tr>

					{% for i in range(0, len_cids) %}
					<tr style="width: 100%; background-color: LightGray; border: 1px solid blue;">
						<td style="width: 20%; background-color: LightGray; border: 1px solid blue;">{{ cids[i] }}</td>
						{% for j in range(0, len_predictions) %}
						<td style="text-align:center; width: 20%; background-color: LightGray; border: 1px solid blue;">
							{{ predictions[j][i][0] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
				</div>
			{% endif %}

		</div>
	</div>

</div>

{% endblock %}
