<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Read Across {{ data.target }}  </title>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{{ url_for('static', filename='js/readacross.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <div class="row">
      <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
          <div class="card-body">
              <h3 class="card-title">Biological nearest neighbors</h3>
              <div id="bioactivity-table"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
          <div class="card-body">
              <h3 class="card-title">Chemical nearest neighbors</h3>
              <div id="chem-nns">
                  {%  for bionn in data.bio_nns %}
                      <div class="overlay" id={{ bionn }} style="display:inline">
                      <img height="200" width="200" src="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/{{ bionn }}/PNG"/>
                      </div>
                      {% if loop.index % 3 == 0 %}
                            <br>
                        {%  endif %}
                  {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>


</body>

    <script>

        var profile = {{ data.training_profile  | tojson | safe }}
        console.log(profile);
        bioactivityTable(profile);

        $("td.cid-row").mouseenter(function() {
            var cid = $( this ).text();
            $("#" + cid).css("background-color", "rgb(255, 0, 0, 1)")
        });
    </script>

</html>