{% extends "template.html" %}
{% block content %}
<div class="usernamerecovery-body" >

    <div class="row">
      <div class="col-sm-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" id="dataset-card">
          <div class="card-body">
		    <h3 class="card-title">Welcome to CIIPRO username recovery</h3>
		    <br>
		    <p class="card-text">
            If you are new to CIIPRO, click <a href="/register">here</a> to register.<br>
            Forgot Password? click <a href="/passwordrecovery">here</a><br>
            <h3>Please enter your email:</h3>

            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            <form action="" method="post">
                <input type="text" placeholder="email" name="email" value="{{
                request.form.email }}" required><br>
                <br>
                <input class="btn btn-primary" type="submit" value="Submit">
                <br>
            </form>
		    </p>
          </div>
        </div>
      </div>
	</div>
</div>
{% endblock %}		
